.idea/
.ipynb_checkpoints/
*.npy
LeNet/tf2.0/mymodel/assets/
LeNet/tf2.0/mymodelfashinmnist/assets/
*test.py
*test.ipynb
*ckpt/
/AlexNet/tf2.0/alexnet/
/AlexNet/tf2.0/alexnet/1/saved_model.pb
AlexNet/tf1.x/__pycache__/
AlexNet/tf1.x/utils/__pycache__/
AlexNet/tf2.0/alexnet/
AlexNet/tf2.0/utils/__pycache__/
LeNet/tf2.0/__pycache__/
LeNet/tf2.0/utils/__pycache__/
