__pycache__/
mytest.py
*.npy
.idea/
.ipynb_checkpoints/
ckpt/
*.npz
*.npy
logs
LeNet/tf1.x/fashinckpt/
LeNet/tf1.x/fashiontensorboardlog/
LeNet/tf1.x/tensorboardlog/
LeNet/tf2.0/mymodel/assets/
LeNet/tf2.0/mymodelfashinmnist/assets/
LeNet/tf2.0/trainlogs/events.out.tfevents.1569160727.DESKTOP-O89HJTA.10788.232.v2
LeNet/tf2.0/trainlogs/events.out.tfevents.1569161792.DESKTOP-O89HJTA.8600.232.v2
LeNet/tf2.0/trainlogs/train/events.out.tfevents.1569160727.DESKTOP-O89HJTA.10788.1138.v2
LeNet/tf2.0/trainlogs/train/events.out.tfevents.1569160728.DESKTOP-O89HJTA.profile-empty
LeNet/tf2.0/trainlogs/train/events.out.tfevents.1569161792.DESKTOP-O89HJTA.8600.1138.v2
LeNet/tf2.0/trainlogs/train/plugins/profile/2019-09-22_21-58-48/
LeNet/tf2.0/trainlogs/train/plugins/profile/2019-09-22_22-16-33/
LeNet/tf2.0/trainlogs/validation/events.out.tfevents.1569160736.DESKTOP-O89HJTA.10788.8865.v2
LeNet/tf2.0/trainlogs/validation/events.out.tfevents.1569161797.DESKTOP-O89HJTA.8600.8084.v2
/LeNet/tf1.x/tensorboardlog1/
/LeNet/tf1.x/tensorboardlog2/
/LeNet/tf2.0/trainlogs/
/LeNet/tf2.0/trainlogs3/
